/*************** 1.Variables ***************/


/* ------------------ Color Pallet ------------------ */


/*************** 2.Mixins ***************/


/************************************************
    ************************************************
										Search Box
	************************************************
************************************************/
*{
    color: white;
}
html {
    font-size: 1.1em;
}

.ctx-menu{
    z-index: 101;
    width: 10rem;
    background: #151515;
    border: black 0.1rem solid;
    border-radius: 0.5rem;
    position: absolute;
}
.ctx-menu > hr{
    width: 9.8rem;
    height: 0.025rem;
    margin: 0.1rem 0!important;
    background: rgba(0, 0, 0, 0.05);
}

.ctx-option, .ctx-option-danger{
    width: 9.4rem;
    margin: 0.2rem;
    padding: 0 0.2rem;
    display: flex;
    align-items: baseline;
}
.ctx-option-danger span{
    color: var(--danger)!important;
}

.ctx-option:hover, .ctx-option:hover{
    background-color: var(--primary);
    border-radius: 0.1rem;
}

.ctx-option-danger:hover span, .ctx-option-danger:hover span{
    color: white!important;
}

.ctx-option-danger:hover, .ctx-option-danger:hover{
    background-color: var(--danger);
    border-radius: 0.1rem;
}

.ctx-option-icon{
    width: 1.9rem;
    height: 1.5rem;
    padding: 0 0.2rem;
}

.closebtn{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: white;
    font-size: 2.25rem;
    z-index: 1001;
    cursor: pointer;
    text-shadow: #161616;
}

#open-orignal-link {
    color: white;
    font-size: 1rem;
    z-index: 1000;
    text-underline: white;
}
#expandedImg{
    flex: 0 0 auto;
    max-width: 95vw;
    z-index: 1000;
    max-height: calc(100vh - 3rem);
    justify-self: center;
}

#big-image-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    align-items: center;
    transition: opacity 350ms ease-in;
}

#inner-big-image-group{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-copy {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.text-copy {
-webkit-user-select: text;
-khtml-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
-o-user-select: text;
user-select: text;
}

.all-copy {
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-ms-user-select: all;
-o-user-select: all;
user-select: all;
}

.no-scroll::-webkit-scrollbar{
    width: 0;
    background: none;
}

.min-14{
    /* Sets minumun height to 16 rem */
    min-height: 17rem;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.container {
    transition: filter 250ms;
}

.card, .content-wrapper{
    box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.7);
    height: calc(100vh - 2 * 1.25rem);
}

.chatContainerScroll{
    height: calc(100vh - (5 * 1.25rem) - 3.25rem);
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden scroll;
}
.chatContainerScroll::-webkit-scrollbar{
    width: 0;
    background: none;
}

.chatContainerScroll .chat-box{
    min-height: 10rem;
    width: 100%;
    height: auto;
    max-width: 100%;
    overflow: hidden auto;
}

.chatContainerScroll .chat-box::-webkit-scrollbar{
    width: 0.3125rem;
    margin-right: 0;
    background: transparent;
}

.chat-search-box {
    -webkit-border-radius: 1.875rem 0 0 0;
    -moz-border-radius: 1.875rem 0 0 0;
    border-radius: 1.875rem 0 0 0;
    padding: .75rem 1rem;
}

.chat-search-box .input-group .form-control {
    -webkit-border-radius: 0.125rem 0 0 0.125rem;
    -moz-border-radius: 0.125rem 0 0 0.125rem;
    border-radius: 0.125rem 0 0 0.125rem;
    border-right: 0;
}

.chat-search-box .input-group .form-control:focus {
    border-right: 0;
}

.chat-search-box .input-group .input-group-btn .btn {
    -webkit-border-radius: 0 0.0625rem 0.0625rem 0;
    -moz-border-radius: 0 0.0625rem 0.0625rem 0;
    border-radius: 0 0.0625rem 0.0625rem 0;
    margin: 0;
}

.chat-search-box .input-group .input-group-btn .btn i {
    font-size: 1.2rem;
    line-height: 100%;
    vertical-align: middle;
}

@media (max-width: 767px) {

    .card, .content-wrapper {
        height: calc(100vh -  3 * 1.25rem);
    }

    .chat-search-box {
        display: none;
    }

    .col-sm-3{
    max-width: 4.375rem;
    }
    .user{
        max-height: calc(100vh - 3 * 1.25rem);
    }
}


/************************************************
	************************************************
									Users Container
	************************************************
************************************************/

.users-container {
    position: relative;
    padding: 0;
    border-right: 0.0625rem solid #888888;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.users{
    max-height: calc(100vh - 6.5rem);
    overflow-y: scroll;
}

.users::-webkit-scrollbar{
    background: transparent;
    width: 0;
}


/************************************************
	************************************************
											Users
	************************************************
************************************************/

.users {
    padding: 0;
}

.users_person {
    position: relative;
    width: 100%;
    padding: 0.625rem 1rem;
    cursor: pointer;
    border-bottom: 0.0625rem solid #888888;
    display: flex;
    align-items: center;
}

.users_person:hover {
    background-color: #363a3c;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#353639), to(#363a3c));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #353639, #363a3c);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #353639, #363a3c);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #353639, #363a3c);
    /* IE10 */
    background-image: -o-linear-gradient(right, #353639, #363a3c);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #353639, #363a3c);
}

.users_person.active-user {
    background-color: #2e2e30;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2d3034), to(#3d403f));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #111111, #272927);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #f7f9fb, #ffffff);
}

.users_person:last-child {
    border-bottom: 0;
}

.users_person .user {
    display: inline-block;
    position: relative;
    margin-right: 0.625rem;
}

.users_person .user img {
    width: 2.5rem;
    height: 2.5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.users_person .user .status {
    width: 0.625rem;
    height: 0.625rem;
    -webkit-border-radius: 6.25rem;
    -moz-border-radius: 6.25rem;
    border-radius: 6.25rem;
    background: #e6ecf3;
    position: absolute;
    bottom: 0;
    right: 0;
}

.users_person .user .status.online {
    background: #9ec94a;
}

.users_person .user .status.offline {
    background: #c4d2e2;
}

.users_person .user .status.away {
    background: #f9be52;
}

.users_person .user .status.busy {
    background: #fd7274;
}

.users_person p.name-time {
    font-weight: 600;
    font-size: .85rem;
    display: inline-block;
}

.users_person p.name-time .name{
    font-size: 1rem;
}

.users_person p.name-time .time {
    font-weight: 400;
    font-size: .7rem;
    text-align: right;
    color: #8796af;
}

@media (max-width: 767px) {
    .users_person p.name-time {
        display: none;
    }
    .users_person p.name-time .time {
        display: none;
    }

}


/************************************************
	************************************************
									Chat right side
	************************************************
************************************************/

.selected-user {
    width: 100%;
    padding: 0 0.9375rem;
    height: 3rem;
    line-height: 3rem;
    border-bottom: 0.0125rem solid #888888;
    -webkit-border-radius: 0 0.1875rem 0 0;
    -moz-border-radius: 0 0.1875rem 0 0;
    border-radius: 0 0.1875rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selected-user span {
    line-height: 100%;
}

.selected-user span.name {
    font-weight: 700;
}

.selected-user > div > span{
    width: 1.75rem;
    height: 1.75rem;
    opacity: 1;
    padding: 0.45rem;
    transition: opacity 0.2s;
}
.selected-user > div > span > i{
    transition: transform 200ms;
}

.selected-user > div > span:hover, .selected-user > div > span:hover{
    opacity: 0.8;
}

.selected-user > div > span:hover > i, .selected-user > div > span:active > i{
    transform: scale(1.1);
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: calc(100vh - (4.5 * 1.25rem));
    position: relative;
    padding: 0.5rem;
}

.chat-container li.chat-left,
.chat-container li.chat-right {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.chat-container .chat-left:hover,
.chat-container .chat-right:hover,
.chat-container .chat-left:active,
.chat-container .chat-right:active{
    background: #2e2e30;
}

.ballon{
    visibility: hidden;
    position: absolute;
    z-index: 20;
    top: -1rem;
    right: 1rem;
    border-radius: 0.15rem;
    width: auto;
    height: 1.5rem;
    display: flex;
}

.ballon button{
    order: 0;
    width: 1.5rem;
    border: transparent;
    border-radius: inherit;
    opacity: 1;
    transition: opacity 0.2s;
}

.ballon button i {
    transform: scale(0.8);
    transition: transform 0.2s;
}

.ballon button:hover i, .ballon button:active i{
    transform: scale(0.9);
}

.ballon button:hover, .ballon button:active{
    opacity: 0.8;
}

.chat-container .chat-left:hover .ballon,
.chat-container .chat-right:hover .ballon,
.chat-container .chat-left:active .ballon,
.chat-container .chat-right:active .ballon{
    visibility: visible;
}

.chat-container .user-av {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem!important;
    -webkit-border-radius: 1.875rem;
    -moz-border-radius: 1.875rem;
    border-radius: 1.875rem;
}

.chat-container li .chat-avatar {
    margin-right: 0.75rem;
    height: max-content;
}

.chat-container li.chat-right {
    justify-content: flex-end;
}

.chat-container li.chat-right > .chat-avatar {
    margin-left: 1.25rem;
    margin-right: 0;
}

.chat-container .chat-right .chat-name {
    font-size: .7rem;
    font-weight: bold;
    color: #888888;
    text-align: right;
    padding-left: 0.05rem;
    padding-right: 0.05rem;
}
.chat-container .chat-left .chat-name {
    font-size: .7rem;
    font-weight: bold;
    color: #888888;
    text-align: left;
    padding-left: 0.05rem;
    padding-right: 0.05rem;
}

.chat-right::after {
    content: '';
    background: transparent!important;
    height: 1.5rem !important;
    width: 1.5rem!important;
    margin-right: -1rem;
    border-top-left-radius: 40%;
    box-shadow: -1rem 0 0 0 #0f0f0f;
}

.chat-left::before {
    position: absolute;
    content: '';
    background: none!important;
    height: 1.5rem !important;
    width: 1.5rem!important;
    margin-left: 1.75rem;
    border-top-right-radius: 40%;
    box-shadow: 1rem 0 0 0 #0f0f0f;
}

.chat-container li .chat-text {
    padding: 0.1rem 0.5rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    background: #0f0f0f;
    font-weight: 300;
    line-height: 130%;
    max-width: 70%;
    width: max-content;
    height: max-content;
    position: relative;
}

.chat-container li .chat-text .chat-reply{
    width: 100%;
    background: #1b1e21;
    border-left: grey 0.15rem solid;
    border-radius: 0.15rem;
    padding: 0.2rem 0 0.2rem 0.2rem;
}

.chat-container li .chat-text .chat-reply .name{
    font-size: 0.75rem;
    font-weight: bold;
    color: #888888;
}

.chat-container li .chat-text .chat-reply video,
.chat-container li .chat-text .chat-reply img {
    max-width: 100%;
    max-height: 16rem;
    pointer-events: none;
}

.chat-text img{
    max-width: 100%;
    max-height: 16rem;
}
.chat-text video{
    max-width: 100%;
}

.chat-container li.chat-right > .chat-text,
.chat-container li.chat-left > .chat-text {
    text-align: left;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
}

.chat-container li .chat-hour {
    color: #949191;
    padding: 0;
    font-size: .6rem;
    display: flex;
    flex-direction: row;
}

.chat-container li .chat-hour > span {
    position: relative;
    font-size: 0.6rem;
    color: #9ec94a;
}

.chat-container .chat-right > .time-seen-at{
    visibility: hidden;
    align-self: center;
    font-size: 0.7rem;
    padding-right: 1.5rem;
    color: #f0f0f0;
    font-weight: 100;
}

.chat-container .chat-right:hover > .time-seen-at{
    visibility: visible;
}

.chat-container li.chat-right > .chat-hour {
    margin: 0 0.9375rem 0 0;
}


.chat-right .chat-hour{
    align-items: center;
    justify-content: flex-start;
}

.chat-left .chat-hour{
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .chat-container li .user-av {
        font-size: 2rem!important;
        width: 2rem;
        height: 2rem;
    }
    .chat-container li.chat-left .chat-hour {
        justify-content: flex-end;
    }

    .chat-container li .chat-text {
        font-size: .8rem;
    }
    .col-sm-9{
        max-width: calc(100% - 4.375rem);
        flex: 0 0 calc(100% - 4.375rem);
    }
}

.chat-form {
    padding: 1rem;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-top: 0.0625rem solid #888888;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card {
    border: 0;
    background: #202225;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
    margin-bottom: 0.125rem;
    box-shadow: none;
}

.publisher {
    position: relative;
    display: flex;
    border-radius: 1rem;
    align-items: start;
    padding: 0.25rem 0.25rem;
    background-color: #f9fafb
}

.publisher>*:first-child {
    margin-left: 0
}

.publisher>* {
    margin: 0 0.5rem;
}

.publisher-input {
    order: 1;
    width: 100%;
    color: #111111;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1rem;
    max-height: 6rem;
    border: none;
    overflow-wrap: break-word;
    outline: none !important;
    background-color: transparent;
    flex-wrap: initial;
    white-space: normal;
    align-self: center;
}

.publisher-input:empty:before {
    content: attr(data-placeholder);
    color: #949191;
}

.publisher-input div, .publisher-input span{
    font: inherit;
    color: #111111;
    font-size: 1rem;
    -webkit-user-select: all;
    -ms-user-select: all;
    -moz-user-select: all;
}

.publisher-input::-webkit-scrollbar {
    display: none;
}

.publisher-btn {
    order: 1;
    background-color: transparent;
    border: none;
    margin-top: 0.1rem;
    color: #8b95a5;
    font-size: 1rem;
    width: 1rem;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear
}

.file-group {
    position: relative;
    overflow: hidden
}

.publisher-btn:hover, .publisher-btn:active {
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear
}

.file-group input[type="file"] {
    position: absolute;
    margin: 0!important;
    opacity: 1;
    z-index: -1;
    width: 1rem!important;
}

.text-info {
    color: #48b0f7 !important
}

@media (max-width: 767px) {
    .chat-container{
        max-height: calc(100vh - 6.75rem);
    }
    .chat-left::before{
        margin-left: 1.255rem;
    }
}

@media (max-aspect-ratio: 8/16), (max-width: 576px), handheld and (max-width: 767px){
    .container{
        max-width: 100%;
    }
    .col-xl-4, .users-container{
        width: 0;
        display: none;
    }
    .col-xl-8{
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .page-title {
        display: none;
    }
    .chat-container .chat-right .chat-name {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    .chat-container .chat-left .chat-name {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    #emojibutton{
        display: none;
    }
    #file-group{
        order: 0;
    }

}